#btn-login
{
    background-color: #F0F0F0;
    outline:none;
    border:1px solid #91C8E4;
    padding:16px 32px;
    cursor:pointer;
    border-radius:8px;
    margin:10px 20px;
}
#btn-login:hover
{
    background-color: #91C8E4;
}
#btn-signup
{
    background-color: #F0F0F0;
    outline:none;
    border:1px solid #E8AA42;
    padding:16px 32px;
    cursor:pointer;
    border-radius:8px;
    margin:10px 20px;
}
#btn-signup:hover
{
    background-color: #E57C23;
}
#btn-disabled
{
    background-color: #F0F0F0;
    outline:none;
    border:1px solid #91C8E4;
    padding:16px 32px;
    cursor:not-allowed;
    border-radius:8px;
    margin:10px 20px;
}