body
{
    color:#F5F5F5;
}
h1{
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    color:#3F2305;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
}
p
{
    font-size: 21px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 600;
    color:#A4907C;
    text-align: justify;
    font-family: 'Indie Flower', cursive;
    padding : 24px 48px;
    margin : 48px 60px;
    border: 3px groove #3F2305;
}
#border-design
{
    /* border-top: 3px solid #3F2305;
    border-bottom : 3px dashed #3F2305;
    border-left:3px dotted #3F2305;
    border-right: 3px groove #3F2305; */
    border: 3px groove #3F2305;
}
